#.kitchen
.chef
#.kitchen/
#.kitchen.local.yml

knife.rb
cookbooks/jenkins/.chef/environments/jenkins_production.json
openrc
encrypted_data_bag_secret
encrypted_data_bag_secret_key
*.log
cookbooks/jenkins/test/.chef
cookbooks/jenkins/.chef/
cookbooks/jenkins/.kitchen/kitchen-vagrant/
.kitchen/logs
